<aside class="sidebar">
  <div class="logo-box">
    <div class="logo-circle">ERP</div>
    <div>
      <h2>ERP RRHH</h2>
      <p>HR System</p>
    </div>
  </div>

  <nav class="menu">
  <a routerLink="/panel" routerLinkActive="active">INICIO</a>
  <a routerLink="/empleados" routerLinkActive="active">Empleados</a>
  <a routerLink="/asistencia" routerLinkActive="active">Asistencia</a>
  <a routerLink="/nomina" routerLinkActive="active">Nómina</a>
  <a routerLink="/permisos" routerLinkActive="active">Permisos</a>
  <a routerLink="/vacaciones" routerLinkActive="active">Vacaciones</a>
  <a routerLink="/reportes" routerLinkActive="active">Reportes</a>
  <a routerLink="/configuracion" routerLinkActive="active">Configuración</a>
</nav>
</aside>